*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
professionalprofile-core/.idea/
professionalprofile-core/target/
professionalprofile-core/professionalprofile-core.iml


# Professional Profile View #
professionalprofile-client/.idea
professionalprofile-client/node_modules
professionalprofile-client/jspm_packages
professionalprofile-client/npm-debug.*
professionalprofile-client/link-checker-results.txt
professionalprofile-client/app/**/*.js
professionalprofile-client/*.js.map
professionalprofile-client/e2e/**/*.js
professionalprofile-client/e2e/**/*.js.map
professionalprofile-client/_test-output
professionalprofile-client/_temp
professionalprofile-client/.vscode
professionalprofile-client/debug.log
