/* Profile Item */
.profileItem {
    margin: 0;
    width: 100%;
}

section.profileItem:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    width: 85%;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0;
    background: #FFF;
}

.profileItem h2 {
    font-size: 1.8em;
    color: #AAA;
    display: block;
    margin-bottom: 10px;
    margin-top:30px;
}

.profileItem h4 {
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    line-height: 0.8;
}

.profileItem p {
    font-size: 1em;
    width: 100%;
}