@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700&subset=latin-ext');

html {
    line-height: 1.6;
}

@media only screen and (max-width: 500px) {

   body { font-size: 1em; }

}

body {
    font-family: 'Bitter', serif;
    line-height: 1.6;
    color: #444444;
}

i {
    color:steelblue;
}

a {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}