@import '../../../node_modules/npm-font-source-sans-pro/source-sans-pro.css';

html {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;	
	margin-top: 10px;
}

i {
    color:steelblue;
}

a {
    color: black;
}