@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    src: local("FontAwesome"), url(../fonts/fontawesome-webfont.woff), format("woff");
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/fonts/source-sans-pro/SourceSansPro-Regular.otf');
}
@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/source-sans-pro/SourceSansPro-Italic.otf');
	font-style: italic;
}
@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/source-sans-pro/SourceSansPro-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/source-sans-pro/SourceSansPro-LightItalic.otf');
	font-style: italic;
	font-weight: 300;
}

html {
    font-family: 'SourceSansPro', sans-serif;
    line-height: 1.6;
}

i {
    color:steelblue;
}

a {
    color: black;
}

.content_container {
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 60px;
}

.panel-body hr {
    margin-top: 30px;
    margin-bottom: 30px;
    display:block;
    border: 0;
    width: 134px;
    height: 14px;
    background-image: url("../img/separador.png");  
}

.img_profile {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    background-color: darkgrey;
    border: 3px solid crimson;
    box-shadow: 2px 2px 2px #AAA, inset 2px 2px 2px #AAA;
}

.main_title {
    position: relative;
    text-align: right;
    margin: 0;
    padding: 0;
    color: yellowgreen;
}


.profile_header {
    margin: 0 auto;
    width: 100%;
    padding: 10px 0px 0px 0px;
}

.profile_header .name {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}

.profile_header .main_information {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #eceaea;
    padding: 0;
}

.profile_header .main_information::before {
    content: "";
    display: block;
    height: 1px;
    border: 1px dotted #cecece;
    border-style: none none dashed;
    margin-top: 10px;
    width: 100%;
    clear: both;
    position: relative;
}

.profile_header .main_information header span {
    font-size: 0.8em;
    margin-top: 5px;
    line-height: 0.7;
}

.profile_header .main_information p {
    margin-top: 10px;
    font-size: 0.9em;
    line-height: 1;
}


/* Profile Item */
.profileItem {
    margin: 0;
    width: 100%;
}

section.profileItem:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    width: 85%;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    background: #FFF;
}

.profileItem h2 {
    font-size: 1.8em;
    color: #AAA;
    display: block;
    margin-bottom: 10px;
    margin-top:20px;
    
}

.profileItem h4 {
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
    line-height: 1.7;
}

.profileItem p {
    font-size: 1em;
    width: 100%;
}


/* ---------- EXPERIENCE ----------*/
.experience {
    width: 100%;
    padding: 0;
}

.experience p {
    font-size: 0.9em;
    width: 100%;
}

.experience header {
    margin-bottom: 15px;
}

.experience header h2 {
    font-size: 1.3em;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
    color: #5b5b5b;
}

.experience header h3 {
    font-size: 1em;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 10px;
    color: #777;
}

.experience header p {
    font-size: 0.8em;
    margin-top: 5px;
    line-height: 0.7;
}

.experience header span {
    font-size: 0.8em;
    margin-top: 5px;
    line-height: 0.7;
}

.experience header img {
    float: right;
    max-width: 100px;
}

.experience:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    width: 85%;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    background: #DEDEDE;
}

/* ---------- EDUCATION ----------*/
.education {
    width: 100%;
    padding: 0;
}

.education header {
    margin-bottom: 15px;
}

.education header h2 {
    font-size: 1.3em;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
    color: #5b5b5b;
}

.education header h3 {
    font-size: 1.1em;
    margin-top: 0;
    color: #777;
}

.education header span {
    font-size: 0.8em;
    margin-top: 5px;
    line-height: 0.7;
}

/* ---------- ICONS ----------*/
.icon::before {
    font-family: FontAwesome;
    color: steelblue;
    margin-right: 10px;
    font-size: 1.2em;
    padding: 0;

}

.icon-calendar::before {
    content: "\f073";
}

.icon-link::before {
    content: "\f0c1";
}

.icon-map-position::before {
    content: "\f041";
}

.icon-phone::before {
    content: "\f095";
}

.icon-email::before {
    content: "\f1fa";
}

.icon-linkedin::before {
    content: "\f08c";
    color: #1B86BC;
}

.icon-github::before {
    content: "\f092";
    color: #000;
}

.icon-margin-left-15px::before {
    margin-left: 15px;
}


/* ---------- NAV ----------*/

nav {
    width: 100%;
    height: 40px;
    bottom: 0px;
    position: fixed;
    background-color: #FFF;
}

nav::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    background: #DEDEDE;
    margin-bottom: 5px;
}


/* ---------- CALLOUTs ----------*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}