<ul>
    <li *ngFor="let skill of skills"
                [class.high-level]="skill.experienceLevel === 'HIGH'"
                [class.medium-level]="skill.experienceLevel === 'MEDIUM'"
                [class.low-level]="skill.experienceLevel === 'LOW'">
            <span class="label label-default">
                {{skill.name}}
            </span>
    </li>
</ul>

<p class="experience-lebel">
    <span class="high-level-lebel">*</span><span class="label-skills">HIGH KNOWLEDGE, </span>
    <span class="medium-level-lebel">*</span><span class="label-skills">MEDIM KNOWLEDGE, </span>
    <span class="low-level-lebel">*</span><span class="label-skills">LOW KNOWLEDGE</span>
</p>
