<ul>
    <li *ngFor="let skill of skills">
            <span class="label label-default">
                <span
                    [class.high-level-lebel]="skill.experienceLevel === 'HIGH'"
                    [class.medium-level-lebel]="skill.experienceLevel === 'MEDIUM'"
                    [class.low-level-lebel]="skill.experienceLevel === 'LOW'">*</span>
                {{skill.name}}
            </span>
    </li>
</ul>

<p class="experience-lebel">
    <span class="high-level-lebel">*</span><span class="label-skills">HIGH KNOWLEDGE, </span>
    <span class="medium-level-lebel">*</span><span class="label-skills">MEDIM KNOWLEDGE, </span>
    <span class="low-level-lebel">*</span><span class="label-skills">SOME KNOWLEDGE</span>
</p>
