<ul>
    <li *ngFor="let skill of skills">
            <span class="label label-default">
                <span
                    [class.high-level-lebel]="skill.experienceLevel === 'HIGH'"
                    [class.medium-level-lebel]="skill.experienceLevel === 'MEDIUM'"
                    [class.low-level-lebel]="skill.experienceLevel === 'LOW'">*</span>
                {{skill.name}}
            </span>
    </li>
</ul>


    <ul class="experience-lebel">
        <li>
            <span class="high-level-lebel">*</span>
            <span class="label-skills">HIGH KNOWLEDGE, </span>
        </li>
        <li>
            <span class="medium-level-lebel">*</span>
            <span class="label-skills">MEDIM KNOWLEDGE, </span>
        </li>
        <li>
            <span class="low-level-lebel">*</span>
            <span class="label-skills">SOME KNOWLEDGE</span>
        </li>
    <ul>
