@import '../../../resources/css/profile-item.css';

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {  
    display: inline-block;
    margin-right: 10px;
}

.experience-lebel {
    font-size: 0.7em;
    margin-top: 20px;
}

.experience-lebel .label {
    letter-spacing: 1px;
}
.experience-lebel i {
    color: grey;
}