<h2>Education</h2>
<article class="education">
    <header>
        <h2>FIO - Faculdades Integradas de Ourinhos</h2>
        <h3>Bachelor of Information Systems, Information Technology</h3>
        <span class="icon icon-calendar">10/2015-11/2016 - 1yr 2mos</span>
        <span class="icon icon-map-position icon-margin-left-15px">São Paulo-SP, Brazil</span>
        <span class="icon icon-link icon-margin-left-15px"><a href="http://www.alpar.com.br" target="_blank">www.alpar.com.br</a></span>
    </header>
</article>