<h2>Experience</h2>
<div class="move">
    <a href="javascript:void(0)" (click)="getUserOlderExperience()" class="move-left"></a>
    <a href="javascript:void(0)" (click)="getUserNewerExperience()" class="move-right"></a>
    <article class="experience">
        <header>
            <img class="img-rounded experience_company_img">
            <h2>{{ experience?.title }}</h2>
            <h3>{{ experience?.company.name }}</h3>
            <span class="icon icon-calendar">
                {{ experience?.initialDate | date: 'MM/yyyy' }} -
                {{ experience?.finalDate | date: 'MM/yyyy' }}
                - 1yr 2mos</span>
            <span class="icon fa-map-marker icon-margin-left-15px">
                {{ experience?.company.location.city }}, 
                {{ experience?.company.location.region }}, 
                {{ experience?.company.location.country }}
            </span>
            <span class="icon icon-link icon-margin-left-15px">
                <a href="http://www.alpar.com.br" target="_blank">
                    {{ experience?.company.website }}
                </a>
            </span>
        </header>
        <p>{{ experience?.description }}</p>
    </article>
</div>