<section class="content_container">
    <section>
        
        <!-- PANEL HEADER -->
        <header class="panel-heading profile_header">
            
            <!-- Profile Image -->
            <img src="{{ userPhotoURL }}" class="img-circle">
            
            <div class="main-information">

                <!-- Headline and Industry -->
                <div class="head-line">
                    <p *ngIf="mainInformation?.professionalHeadline != null">{{mainInformation?.professionalHeadline | uppercase }}</p>
                </div>

                <h1 class="name">
                    {{ mainInformation?.id.user.firstName | uppercase }} 
                    {{ mainInformation?.id.user.surname | uppercase}}
                </h1>

                <p class="summary">{{ mainInformation?.summary }}</p>

                <ul>
                    <li>
                        <!-- Location -->
                        <span class="icon fa-map-marker" *ngIf="mainInformation?.id.user.location != null">
                            {{ mainInformation?.id.user.location.city | uppercase }}, 
                            {{ mainInformation?.id.user.location.region | uppercase }}, 
                            {{ mainInformation?.id.user.location.country | uppercase }}
                        </span>
                    </li>
                    <li>
                        <!-- Main Contact -->
                        <span class="icon" *ngIf="mainInformation?.mainContact != null"
                            [class.fa-phone-square]="mainInformation?.mainContact.type === 'TELEPHONE'"
                            [class.fa-envelope]="mainInformation?.mainContact.type === 'EMAIL'">
                            {{mainInformation?.mainContact.contact}}
                        </span>
                    </li>
                </ul>
  
            </div>

            
        </header>

        <!-- PANEL BODY -->
        <section class="profile-body">

            <hr>

            <skills class="profileItem"></skills>
            <experiences class="profileItem"></experiences>
            <education class="profileItem"></education>

            <hr>

        </section>
    </section>

    <div class="look-me-up" *ngIf="userSocialNetworks != null">
        <span class="right-space">LOOK ME UP ON</span>
        <ul>
            <li *ngFor="let socialNetwork of userSocialNetworks" >
                <a href="{{ socialNetwork.contact }}" target="_blank"
                    class="icon-contact"
                        [class.fa-linkedin-square]="socialNetwork.type === 'LINKEDIN'"
                        [class.fa-github-square]="socialNetwork.type === 'GITHUB'">
                </a>
            </li>
        </ul>
    </div>  
</section>



<div class="speech-bubble" [hidden]="!showBalloon">
    <p class="text-align-right"><a href="javascript:void(0)" class="fa fa-times exit-speech" (click)="closeBallon()"></a></p>
    <p>Click and check out on <span>GITHUB</span> how this profile was built.</p>
    <div class="arrow bottom right"></div>
</div>

<section class="open-code">
    <a href="https://github.com/renan-perez/professionalprofile" target="_blank">
    <i class="fa fa-code" aria-hidden="true"></i>
    </a>
</section>