.content_container {
    margin: 0 auto;
    max-width: 730px;
    margin-bottom: 60px;
}

.profile_header {
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
}

.profile_header .name {
    text-align: center;
    font-size: 4.8em;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Dosis', sans-serif;
}

.profile_header img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    background-color: darkgrey;
    border: 4px solid crimson;
    box-shadow: 2px 2px 2px #AAA, inset 2px 2px 2px #AAA;
    width: 18.750em; 
    height: 18.750em;
}

.profile_header .main-information {
    height: 100%;
    width: 100%;
}

.profile_header .main_information header span {
    font-size: 0.8em;
    margin-top: 5px;
    line-height: 0.7;
}

.profile_header .main_information p {
    margin-top: 10px;
    font-size: 0.9em;
    line-height: 1;
}

.profile_header .head-line {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 2em;
    color: #fff;
    background-color: #5bc0de;
}

.profile_header .main-information .head-line p::before {
    content: "{ ";
    color: #fff;
    font-size: 1.2em;
}

.profile_header .main-information .head-line p::after {
    content: " }";
    color: #fff;
    font-size: 1.2em;
}


.profile_header .main-information ul {
    padding-right: 5%;
    padding-left: 5%;
}

.profile_header .main-information li {
    font-family: 'Dosis', sans-serif;
    padding: 1em;
    display: inline-block;
    font-size: 1.2em;
}


.profile_header .summary {
    font-size: 1.8em;
    letter-spacing: 2px;
    padding-right: 5%;
    padding-left: 5%;
}

.profile-body {
    padding-right: 5%;
    padding-left: 5%;
}

.profile-body hr {
    border: 0;
    height: 1em;
    background: #5bc0de;
    display: block;
    clear: both;
    padding: 0;
    border-radius: 0.25em; 
}


nav {
    width: 100%;
    height: 40px;
    bottom: 0px;
    position: fixed;
    background-color: #FFF;
}

nav::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    background: #DEDEDE;
    margin-bottom: 5px;
}

/* Profile Item */
.profileItem {
    margin: 0;
    width: 100%;
}

section.profileItem:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    width: 85%;
    margin-left: 35px;
    border: 0;
    background: #FFF;
}

.look-me-up {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.5em;
    display: inline;
}

.look-me-up ul {
    display: inline;
}

@media only screen and (max-width: 400px) {
    .look-me-up ul {
        display: block;
        margin-left: 5%;
    }
}

.look-me-up ul li {
    display: inline;
}

.look-me-up a {
    text-decoration: none;
}

.look-me-up a:hover {
    text-decoration: none;
    color: #83a7c4;
}

.look-me-up a:active {
    text-decoration: none;
    color: #4682b4;
}

.look-me-up a:visited {
    text-decoration: none;
}

.right-space {
    margin-right: 20px;
}

 /* speech-bubble */
.open-code {
    float: right;
    position: fixed;
    bottom: 10px;
    right: 30px;
}

.open-code i {
    font-size: 2.5em;
    color: crimson;
    text-shadow: 2px 2px 4px #717d87;
}

.open-code i:hover {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

 /* speech-bubble */
.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 60px;
    right: 15px;
    font-size: 1.1em;
    font-weight: bold;
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.speech-bubble span {
    color: darkorange;
}

.speech-bubble .arrow {
    border-style: solid;
    position: fixed;
    bottom: -10px;
    right: 30px;
}

.speech-bubble p {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.text-align-right {
    text-align: right;
    
}

.speech-bubble .exit-speech {
    color: #4682b4;
}

.speech-bubble a:link {
	text-decoration: none;
}

.speech-bubble a:hover {
	text-decoration: none;
}
 
.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 10px 10px 0px 10px;
    bottom: -6px;
}

.bottom:after {
    border-color: #f8f8f8 transparent transparent transparent;
    border-style: solid;
    border-width: 9px 8px 0px 8px;
    bottom: 1px;
    content: "";
    position: fixed;
    bottom: -9px;
    right: 32px;
}

@keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    5% { -webkit-transform: translate(2px, 1px) rotate(-2deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    15% { -webkit-transform: translate(2px, 1px) rotate(2deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    25% { -webkit-transform: translate(-3px, 0px) rotate(-2deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    35% { -webkit-transform: translate(2px, 1px) rotate(2deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    45% { -webkit-transform: translate(-3px, 0px) rotate(-2deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    55% { -webkit-transform: translate(2px, 1px) rotate(2deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    65% { -webkit-transform: translate(-3px, 0px) rotate(-2deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    75% { -webkit-transform: translate(2px, 1px) rotate(2deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    85% { -webkit-transform: translate(-3px, 0px) rotate(-2deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    95% { -webkit-transform: translate(2px, 1px) rotate(2deg); }
	100% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
}

