<section class="content_container">
    <section class="panel panel-default">
        
        <!-- PANEL HEADER -->
        <header class="panel-heading profile_header">
            
            <!-- Profile Image -->
            <img class="img-circle" width="150" height="150">
            
            <h1 class="name">
                {{mainInformation?.id.user.firstName}} 
                {{mainInformation?.id.user.surname}}
            </h1>
            
            <div class="main_information">
                <!-- Headline and Industry -->
                <p>
                    {{mainInformation?.professionalHeadline}}, 
                    {{mainInformation?.industry}}
                </p>
                <!-- Location -->
                <span class="icon-small fa-map-marker">
                    {{mainInformation?.id.user.location.city}}, 
                    {{mainInformation?.id.user.location.region}}, 
                    {{mainInformation?.id.user.location.country}}
                </span>
                <!-- Main Contact -->
                <span class="icon-small icon-margin-left-15px"
                    [class.fa-phone]="mainInformation?.mainContact.type === 'TELEPHONE'"
                    [class.fa-envelope]="mainInformation?.mainContact.type === 'EMAIL'">
                    {{mainInformation?.mainContact.contact}}
                </span>
            </div>
        </header>

        <!-- PANEL BODY -->
        <section class="panel-body">
            
            <section class="profileItem">
                <h2>Summary</h2>
                <p>{{mainInformation?.summary}}</p>
            </section>

            <skills class="profileItem"></skills>
            <experiences class="profileItem"></experiences>
            <education class="profileItem"></education>
        </section>
    </section>
</section>

<!-- BOTTOM MENU -->
<nav>
</nav>